[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:slaclab/ruckus
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:slaclab/surf
[submodule "firmware/submodules/lcls-timing-core"]
	path = firmware/submodules/lcls-timing-core
	url = git@github.com:slaclab/lcls-timing-core.git
[submodule "firmware/submodules/l2si-core"]
	path = firmware/submodules/l2si-core
	url = git@github.com:slaclab/l2si-core.git
[submodule "firmware/submodules/epix-hr-leap-common"]
	path = firmware/submodules/epix-hr-leap-common
	url = git@github.com:slaclab/epix-hr-leap-common.git
[submodule "firmware/submodules/epix-hr-core"]
	path = firmware/submodules/epix-hr-core
	url = git@github.com:slaclab/epix-hr-core
[submodule "firmware/python/ePixViewer"]
	path = firmware/python/ePixViewer
	url = git@github.com:slaclab/ePixViewer.git
